<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="/static/css/global.css" type="text/css" rel="stylesheet" />
    <style>
         main{
            width: 100%;
            background: #fff;
            margin: 5px 5px auto;
            text-align: center;
         }
         .item{
             background: skyblue;
             margin: 3px auto;
         }
    </style>
</head>
<body>
    <main>
        <div>
            <a target="_blank" href="links">read it now</a>
        </div>
        <div>
            <a target="_blank" href="keywords">research it now</a>
        </div>
        <div>
            <a target="_blank" href="coder">what happend then</a>
        </div>
        <div>
            <a target="_blank" href="temp">temp links</a>
        </div>
    </main>
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script>
    </script>
</body>
</html>